WcfLatencyTestClient/Connected Services/ServiceReference1/LatencyTestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LatencyTestService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6666/lantencyTestService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6666/lantencyTestService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILatencyTestService_Sync_InputMessage">
    <wsdl:part name="parameters" element="tns:Sync" />
  </wsdl:message>
  <wsdl:message name="ILatencyTestService_Sync_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncResponse" />
  </wsdl:message>
  <wsdl:message name="ILatencyTestService_Operation_InputMessage">
    <wsdl:part name="parameters" element="tns:Operation" />
  </wsdl:message>
  <wsdl:message name="ILatencyTestService_Operation_OutputMessage">
    <wsdl:part name="parameters" element="tns:OperationResponse" />
  </wsdl:message>
  <wsdl:portType name="ILatencyTestService">
    <wsdl:operation name="Sync">
      <wsdl:input wsam:Action="http://tempuri.org/ILatencyTestService/Sync" message="tns:ILatencyTestService_Sync_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ILatencyTestService/SyncResponse" message="tns:ILatencyTestService_Sync_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Operation">
      <wsdl:input wsam:Action="http://tempuri.org/ILatencyTestService/Operation" message="tns:ILatencyTestService_Operation_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ILatencyTestService/OperationResponse" message="tns:ILatencyTestService_Operation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILatencyTestService" type="tns:ILatencyTestService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Sync">
      <soap:operation soapAction="http://tempuri.org/ILatencyTestService/Sync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Operation">
      <soap:operation soapAction="http://tempuri.org/ILatencyTestService/Operation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LatencyTestService">
    <wsdl:port name="BasicHttpBinding_ILatencyTestService" binding="tns:BasicHttpBinding_ILatencyTestService">
      <soap:address location="http://localhost:6666/lantencyTestService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>